https://github.com/thiagopena/geraldo/archive/master.zip
https://github.com/thiagopena/PySIGNFe/archive/master.zip
django
dj-database-url
python-decouple
pytz
reportlab
six
cryptography<3
lxml
pyOpenSSL
signxml==2.8.0
