https://github.com/carlosmonari/geraldo/archive/master.zip
https://github.com/carlosmonari/PySIGNFe/archive/master.zip
django
dj-database-url
python-decouple
pytz
reportlab
six
cryptography<3
lxml
pyOpenSSL
signxml==2.8.0
django-createsuperuserwithpassword
